
.form {
  width: 50%;
}

.form__splittedline > input {
  min-width: 50%;
}

.form__splittedline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.form__input {
  margin-bottom: 35px;
}

.form__submit {
  display: flex;
  gap: 30px;
}

.form__btn {
  color: #fff;
  border-radius: 6px;
  color: #1e1e1e;
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 10px 30px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  transition: all 0.1s ease-in-out;
  max-height: 55px;
  cursor: pointer;
}

.form__btn:hover {
  transform: scale(1.03);
}

.form__btn:active {
  transform: scale(0.99);
}

.form__policy {
  color: #9497A1;
  font-size: 12px;
  font-weight: 500;
  text-shadow: 3px 4px 7px rgba(0,0,0,0.5);
}

.form__link {
  text-decoration: none;
  color: #48494f;
}

@media (max-width: 1024px) {
  .form {
    width: 100%;
  }
}
