.header {
  position: fixed;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85px;
  gap: 5%;
  -webkit-box-shadow: 1px 11px 15px 3px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 1px 11px 15px 3px rgba(0, 0, 0, 0.37);
  box-shadow: 1px 11px 15px 3px rgba(0, 0, 0, 0.37);
  z-index: 2;
}

.header__logo {
  width: 104px;
  height: 82px;
}

.header__burger {
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .header {
    padding: 10px 30px;
    gap: 2%;
  }
  .nav ul {
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .header .nav {
    display: none;
  }

  .header__burger {
    display: block;
    transition: all 1s ease-in-out;
  }

  .header__burger_rotated {
    transform: rotate(360deg);
  }

  .nav__phone {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .header button {
    display: none;
  }
  .nav__phone {
    display: none;
  }
}
