@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
